<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS Intro</title>
    <script src ="./jQuery/jquery-1.11.1.min.js"></script>
	  <script src ="./bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
	<link   href="./bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
  <link   href="./TimeChart.css" rel="stylesheet">
</head>
<body>
<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              Working ...
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
                  <div v-show="workId != -1" class="progress">
                      <div  class="progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{percent}}%">
                         <span class="sr-only">70% Complete</span>
                      </div>
                  </div> 
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button class="modal-default-button" @click="$emit('close')">
                Interrupt
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>


<div id="app" class="panel panel-default">
  <div class="panel-heading">Task List</div>
  <div class="panel-body">
    <ol class="list-group">
      <todo-item v-on:start="start" v-for="(index, item) in todoList" v-bind:todo="item" v-bind:id="index"></todo-item>
    </ol>
  </div>

  <div class="panel-footer">
    <div class="form-group">
      <input type="text" class="form-control"  v-model="newTaskContent" placeholder="input new task here">
      <button v-on:click="newTask" class="btn btn-default">Add New Task</button>
    </div>
 
  </div>

 <modal v-if="workId != -1" @close="workId = -1" v-bind:percent="70">
</div>

<script>
 Vue.component('modal', {
   props:['percent'],
  template: '#modal-template'
})

Vue.component('todo-item', {
  props: ['id', 'todo'],
  template: '<li class="list-group-item"  v-on:mouseover="todo.active = true" v-on:mouseleave="todo.active = false" >' + 
    '{{ todo.text }} {{ todo.used}}/{{todo.estimate}}' + 
    '<button class="btn btn-default" v-on:click="$emit(\'start\', id)" v-show="todo.active" type="button" title="开始一个番茄" >Start</button>' +
    '</li>'
})

var app = new Vue({
  el: '#app',
  data: {
    newTaskContent: "New Task",
    workId: -1,
    todoList: []
  },
  created: function() {
    console.debug("VUE create is called")
    todoItems = JSON.parse(localStorage.getItem("todoItems"))
    if (todoItems) {
      this.todoList = todoItems;
    }
  },
  updated: function() {   
  },
  watch: {
    todoList: {
      handler: function (val, oldVal) {
        console.log('a thing changed')
        localStorage.setItem("todoItems", JSON.stringify(this.todoList));
      },
      deep: true
    }
  },
  methods: {
    start: function(taskId) {
      this.workId = taskId;
      console.info("Starting task for task:" + taskId)
    },
    newTask: function () {
	    this.todoList.push({ active: false, text: this.newTaskContent, estimate:3, used:0, status:"notDone" })
    }
  }
})
</script>

</body>
</html>