<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TimeChart</title>
    <script src ="./js/notify.js"></script>
    <script src ="./js/jquery-1.11.1.min.js"></script>
    <script src ="./js/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
    <script src ="./js/vue.min.js"></script>
    <link   href="./js/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <link   href="./css/main.css" rel="stylesheet">

</head>
<body>
<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              Working ...
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
                  <div v-show="workId != -1" class="progress">
                      <div  class="progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{percent}}%">
                         <span class="sr-only">70% Complete</span>
                      </div>
                  </div> 
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button class="modal-default-button" @click="$emit('close')">
                Interrupt
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>


<div id="app" class="panel panel-default">
  <div class="panel-heading">Task List</div>
  <div class="panel-body">
    <ol class="list-group">
      <todo-item v-on:start="start" v-on:done="done"  v-on:delete="delete" v-for="(index, item) in todoList" v-bind:todo="item" v-bind:id="index"></todo-item>
    </ol>
  </div>

  <div class="panel-footer">
    <div class="form-group">
      <input type="text" class="form-control"  v-model="newTaskContent" placeholder="input new task here">
      <input type="text" class="form-control"  v-model="newTaskEstimatedTomoto">
      <button v-on:click="newTask" class="btn btn-default">Add New Task</button>
    </div>
 
  </div>

 <modal v-if="workId != -1" @close="workId = -1" v-bind:percent="percent">
</div>

<script>
 Vue.component('modal', {
   props:['percent'],
  template: '#modal-template'
})

Vue.component('todo-item', {
  props: ['id', 'todo'],
  template: '<li class="list-group-item"  v-bind:class="{disabled: todo.done}" v-on:mouseover="todo.active = true" v-on:mouseleave="todo.active = false" >' + 
    '{{ todo.text }} {{ todo.used}}/{{todo.estimate}}' + 
    '<button class="btn btn-default" v-on:click="$emit(\'start\', id)" v-show="todo.active && !todo.done" type="button" title="开始一个番茄" >Start</button>' +
    '<button class="btn btn-default" v-on:click="$emit(\'done\', id)" v-show="todo.active && !todo.done" type="button" title="完成任务" >Done</button>' +
    '<button class="btn btn-default" v-on:click="$emit(\'delete\', id)" v-show="todo.active && todo.done" type="button" title="删除任务" >Delete</button>' +
    '</li>'
})

function notifyMe() {
            function onShowNotification () {
                console.log('notification is shown!');
            }

            function onCloseNotification () {
                console.log('notification is closed!');
            }

            function onClickNotification () {
                console.log('notification was clicked!');
            }

            function onErrorNotification () {
                console.error('Error showing notification. You may need to request permission.');
            }

            function onPermissionGranted () {
                console.log('Permission has been granted by the user');
                doNotification();
            }

            function onPermissionDenied () {
                console.warn('Permission has been denied by the user');
            }

            function doNotification () {
                var myNotification = new Notify('Yo dawg!', {
                    body: 'This is an awesome notification',
                    tag: 'My unique id',
                    notifyShow: onShowNotification,
                    notifyClose: onCloseNotification,
                    notifyClick: onClickNotification,
                    notifyError: onErrorNotification,
                    timeout: 4
                });

                myNotification.show();
            }

            if (!Notify.needsPermission) {
                doNotification();
            } else if (Notify.isSupported()) {
                Notify.requestPermission(onPermissionGranted, onPermissionDenied);
            }

}

var app = new Vue({
  el: '#app',

  data: {
    tomatoTime: 0.3 * 60 * 1000, // million seconds
    newTaskContent: "New Task",
    newTaskEstimatedTomoto: 1,
    workId: -1,
    percent: 0,
    todoList: []
  },
  created: function() {
    // localStorage.clear();
    console.debug("VUE create is called");
    todoItems = JSON.parse(localStorage.getItem("todoItems"));
    if (todoItems) {
      this.todoList = todoItems;
    }
  },
  updated: function() {   
  },
  watch: {
    todoList: {
      handler: function (val, oldVal) {
        console.log('a thing changed');
        localStorage.setItem("todoItems", JSON.stringify(this.todoList));
      },
      deep: true
    }
  },
  methods: {
    start: function(taskId) {
      this.workId = taskId;
      this.percent = 0;
      console.info("Starting task for task:" + taskId);
      var self = this;
      var d = new Date();
      var startTime = d.getTime();
      var interval = setInterval(function() {
        self.percent = self.percent + 10;
        var n = new Date();
        var nowTime = n.getTime();
        self.percent = ((nowTime - startTime) * 100)/ (self.tomatoTime);
        console.log("current percent:", self.percent);
      }, 1000 * 3)
      setTimeout(function() {
        self.todoList[self.workId].used = self.todoList[self.workId].used + 1;
        self.workId = -1;
        self.percent = 100;
        clearInterval(interval);
        notifyMe();
      }, self.tomatoTime)
    },
    done: function(taskId) {
      console.info("Make task done:", taskId);
      this.todoList[taskId].done = true;
    },
    delete: function(taskId) {
      console.info("Delete", taskId);
      this.todoList.splice(taskId, 1);
    },
    newTask: function () {
	    this.todoList.push({ active: false, text: this.newTaskContent, estimate:this.newTaskEstimatedTomoto, used:0, done: false });
    }
  }
})
</script>

</body>
</html>